<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gexingw.shop.mapper.ums.UmsDictDetailMapper">
<!--    <select id="getById" resultType="com.gexingw.chdtadmin.bean.Member">-->
<!--        select * from ums_member where id = #{id}-->
<!--    </select>-->

    <resultMap id="dictDetailWithDict" type="com.gexingw.shop.bo.ums.UmsDictDetail">
        <id column="id" property="id"/>
        <result column="dict_id" property="dictId"/>
        <result column="label" property="label"/>
        <result column="value" property="value"/>
        <result column="dict_sort" property="dictSort"/>
        <association column="dict_id" property="dict" select="getDict"/>
    </resultMap>

    <select id="getByDictId" resultMap="dictDetailWithDict">
        select * from ums_dict_details where dict_id = #{dictId}
    </select>

    <select id="getDict" resultType="com.gexingw.shop.bo.ums.UmsDict">
        select * from ums_dicts where id  = #{id}
    </select>
</mapper>
