<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gexingw.shop.mapper.UmsMenuMapper">
<!--    <select id="getById" resultType="com.gexingw.chdtadmin.bean.Member">-->
<!--        select * from ums_member where id = #{id}-->
<!--    </select>-->

    <select id="getMenusByIds" resultType="com.gexingw.shop.bo.ums.UmsMenu">
        select * from ums_menus where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by menu_sort asc
    </select>

    <select id="getByPidAndIds" resultType="com.gexingw.shop.bo.ums.UmsMenu">
        select * from ums_menus where pid = #{pid} and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by menu_sort asc
    </select>

    <select id="getByPid" resultType="com.gexingw.shop.bo.ums.UmsMenu">
        select * from ums_menus where pid = #{pid} order by menu_sort asc
    </select>

    <select id="testWhere" resultType="com.gexingw.shop.bo.ums.UmsMenu">
        select * from ums_menus where 1 = 1
        <if test="pid != null">
            and pid = #{pid}
        </if>
        <if test="component != null">
            and component like "%%"
        </if>
    </select>
</mapper>
