<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gexingw.shop.mapper.UmsRoleMenuMapper">
    <insert id="saveBatch">
        insert into ums_roles_menus(`role_id`, `menu_id`)
        values
        <foreach collection="menus" item="menu" separator=",">
            (#{roleId}, #{menu.id})
        </foreach>
    </insert>
    <!--    <select id="getById" resultType="com.gexingw.chdtadmin.bean.Member">-->
    <!--        select * from ums_member where id = #{id}-->
    <!--    </select>-->

    <select id="getRoleMenusByRoleIds" resultType="com.gexingw.shop.bo.ums.UmsRoleMenu">
        select * from ums_roles_menus where role_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
