<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gexingw.shop.mapper.ums.UmsAdminRoleMapper">
    <insert id="insertAdminRoles">
        insert into ums_admins_roles (admin_id, role_id) VALUES
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{adminId}, #{roleId})
        </foreach>
    </insert>
</mapper>
